.list-item {
  .icon-item {
    padding: 4px;
    border-radius: 50%;
    width: 30px;
    height: auto;
    background-color: wheat;
    margin-right: 3px;
    text-align: center;
  }

  .page {
    position: relative;
    text-align: center;
  }
}
