
.add-data{
   
    text-align: center;
    .form-add {
        width: 500px;
        display: inline-block;
        text-align: left;
        label {
            font-weight: bold;
        }
    }
    
    
}